h1{
    background-color: rgb(149, 168, 162);
    color: rgb(153, 15, 15);
    text-align: center;
}
body{
    background-color: antiquewhite;
}
h2{
    text-align: center;
    
}
img{
    height: 200px;
    border-radius: 90px;
    
}
